
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstViewMethod</title>
</head>
<body>
    <div> 
        Hello this is first view demo.<br/>

        My Customer Name is @ViewData["CustName"]
    </div>
</body>
</html>
